* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    box-sizing: border-box;
    width: 100vw;
    
    /* background-color: gainsboro; */
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
}

body {
    height: 100vh;
    width: 100%;
    /* background: linear-gradient(rgb(47,150,163), rgb(48,62,143)); */
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: aquamarine;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    float: left;
}

.container h1 {
    padding: 15px 0px;
    font-weight: bold;
}

.container input[type="text"] {
    height: 35px;
    width: 300px;
    border: 0;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    box-sizing: border-box;
    border: 2px solid black;
}

::placeholder {
    color: gray;
}

.btn {
    /* padding: 10px 30px;
    margin: 10px 0px; */
    border: none;
    outline: none;
    background: grey;
    border: 2px solid black;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 300px;
    height: 35px;
}

.btn:hover {
    background: #fff;
    color: #000;
}

.result {
    margin-bottom: 20px;
    border: 2px solid black;
}

.showData {
    /* margin: 80px 0px; */
    line-height: 1.6;
    /* border: 1px solid black; */

}

.showData ul {
    list-style-type: none;
}

.showData .city {
    font-size: 3rem;
    font-weight: bold;
}

.showData .temp {
    font-size: 1rem;    
}

.showData .wind {
    font-size: 1rem;    
}

.showData .humidity {
    font-size: 1rem;    
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;
  }

  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
  }
